@model IEnumerable<TechReviews.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <div class="review col-lg-4 col-md-4 col-sm-12 col-xs-12">


        <b>@Html.DisplayNameFor(model => model.Category.Name):</b> @Html.DisplayFor(modelItem => item.Category.Name) <br />

        <b>@Html.DisplayNameFor(model => model.Author):</b> @Html.DisplayFor(modelItem => item.Author)<br />

        <b>@Html.DisplayNameFor(model => model.Title):</b> @Html.DisplayFor(modelItem => item.Title)<br />

        <b>@Html.DisplayNameFor(model => model.DateVisited):</b> @Html.DisplayFor(modelItem => item.DateVisited)<br />

        <b>@Html.DisplayNameFor(model => model.Rating):</b>
        @if (item.Rating == 1)
        {
            <span class="glyphicon glyphicon-star"></span>
        }
        else if (item.Rating == 2)
        {
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
        }
        else if (item.Rating == 3)
        {
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
        }
        else if (item.Rating == 4)
        {
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
        }
        else if (item.Rating == 5)
        {
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
        }<br />

        <b>@Html.DisplayNameFor(model => model.DateCreated):</b> @Html.DisplayFor(modelItem => item.DateCreated)<br />


        @Html.ActionLink("See more...", "Details", new { id = item.ID }) <br /><br />

        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })

    </div>
}
